.aboutus-container {
    font-family: 'Tiro Telugu', serif;
    width: 100%;
    padding: 5% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .sideA{
        width: 50%;
        text-align: left;
        margin-right: 15%;
        div{
            margin: 5% 0%;
        }
        .subtitle{
            font-size: 14px;
        }
        .title{
            font-size: 32px;
        }
        .text{
            font-size: 20px;
        }
        .button-container{
            button{
                font-size: 15px;
                padding: 2%;
                border-radius: 5px;
                border: 1px solid #0C0C22;
                background-color: white;
            }
        }
    }
    .sideB{
        width: 40%;
    }
}