.maincomponentabout{
    padding-top: 30vh;
    padding-bottom: 10vh;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .container-main-about{
        width: 100%;
        padding: 0% 15%;
        text-align: center;
        p{
            font-size: 25px;
        }
    }
    .container-about{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 13px;
        .container-valores, .container-mision{
            .card-text-about{
                border-radius: 10px;
                transition: 1s;
            }
            .card-text-about:hover{
                transform: scale(1.3);
                
            }
            display: flex;
            width: 35%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            .image-container{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 10vh;
                margin-bottom: 10vh;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .maincomponentabout{
        padding: 3% 1%;
        .container-main-about{
            width: auto;
            padding: 0% 5%;
            text-align: center;
            p{
                font-size: 20px;
            }
        }
    }
}