.modal-background{
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.499);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #quit-button{
        color: white;
        font-size: 25px;
        width: 100px;
        position: fixed;
        top: 5vw;
        right: 13vw;
    }
    .modal-container{
        border-radius: 20px;
        padding: 10vh;
        width: 50vw;
        background-color: rgb(255, 255, 255);
        .modal-styled{
            display: flex;
            justify-content: center;
            #sideA-modal{
                width: 50%;
                border-right: 1px solid black;
                h3{
                    margin-bottom: 5vh;
                }
                .contact-link{
                    width: 70%;
                    display: flex;
                    align-items: center;
                    border: 1px solid black;
                    padding: 20px 10px;
                    margin: 30px 0px;
                    font-size: 13px;
                    transition: 0.7s;
                    .contact-icon{
                        display: flex;
                        margin-right: 10px;
                        border-radius: 100%;
                        padding: 5px;
                        background-color: rgb(88, 88, 88);
                        color: white;
                    }
                }
                .contact-link:hover{
                    transform: scale(1.2);
                    background-color: rgb(190, 190, 190);
                }
            }
            #sideB-modal{
                width: 50%;
                padding-left: 5vw;
            }
        }
    }
}