.sleeve-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    
    .slogan-container{
            color: #0C0C22;
            .line2-slogan{
                font-family: 'Kalam', cursive;
                font-weight: bold;
            }
            .line1-slogan{
                font-family: 'Poppins', cursive;
                font-size: 80px;
                font-weight: bold;
            }
    }
}
.italic{
    font-style: italic;
    font-size: 25px;
}
